body{
    margin: -0.01%;    
    height: 380vh;
    background: linear-gradient(-60deg, #aec6cf 52%, #F0EAD6)
}

.heading1{
    width: 750px;
    margin-top: 25px;
    font-size: 30px;
    font-weight: 550;
    text-align: center;
    position: relative;
    left: 250px;
    margin-left: 0px;
}
.navbar{
    width: 100%;
    position: relative;
}
.navbar ul{
    list-style-type: none;
    background-color: gray;
    overflow: hidden;
    text-align: right;
    margin-block-start: 0rem;
    margin-block-end: 0rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
.navbar a{
    color: rgb(15, 17, 17);
    text-decoration: none;
    padding: 15px 20px;   
    display: block;
    text-align: center; 
    margin-bottom: 0px;
    
}
.navbar a:hover{
    background-color: rgb(50, 59, 59);
}
.navbar li{
    display: inline-block;
    text-align: right;
}
.navbartxt{
    text-align: right;
}
.hero{
    background-image: url(https://img.freepik.com/premium-photo/busy-hospital-corridor-with-doctors-nurses-walking-long-exposure-motion-blur_601748-49748.jpg?w=826);
    background-size: cover;
    margin-top: -74px;
}
#herotxt{
    font-weight: 800;
    font-size: xx-large;
    text-align: center;
    padding: 190px;
    
}
.heading2{
    position: relative;
    width: 300px;
    margin: 0px;
    left: 500px;
}
.headtxt{
    left: 20px;
}
.headsect{
    block-size: 105px;
}
#logo{
    width: 350px;
    height: 300px;
    position: relative;
    bottom: 166px;
    block-size: 240px;
}
.section2{
    margin-top: -60px;
}
.p1{
    text-align: justify;
    margin-left: 200px;
    float: left;
    position: absolute;
    left: 50px;
    font-weight: 500;
    clear: both;
    font-size: 22px;
    width: 14em;
    margin-top: 150px;
    word-wrap: break-word;
    line-height: 2rem;
}
.img1{
    width: 300px;
    height: auto;
    float: right;
    margin-right: 200px;
}
.section3{
    font-weight: 500;
    clear: both;
    font-size: 22px;
    width: 13em;
    line-height: 2rem;
    display: flex;
    flex-direction: row;
}

#lochead{
    font-weight: 800;
    font-size: xx-large;
}
.location-container{
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 300px 300px;
    grid-gap: 25px;
    width: 100%;
    margin-bottom: 40px;
}

.location{
    position: relative;
    overflow: hidden;
}

.location img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.description{
    position: absolute;
    top: 10;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f8f7f788;
    color: rgb(0, 0, 0);
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3 ease;
}

.location:hover .description{
    opacity: 1;
}



#expertise{
    text-align: center;
    position: relative;
    left: 40px;
    top: 50px;
}
.column{
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: relative;
    left: 150px;
}
#list1{
    list-style-position: outside;
    padding: 40px;
    flex-direction: column;
    list-style-type: circle;
    margin: 0;
    font-size: 22px;
    font-weight: lighter;
}
#list2{
    list-style-position: outside;
    padding: 40px;
    flex-direction: column;
    list-style-type: circle;
    margin: 0;
    position: relative;
    left: 280px;
    bottom: 209px;
    font-size: 22px;
    font-weight: lighter;
}
.dacolumn{
    align-items: center;
    justify-content: center;

}







.footer{
    background-color: #616569;
}
.footer-container{
    display: flex;
}
.quicklink{
    margin: -20px;
    padding-bottom: 0;
}
.footer-container{
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    padding: 0;
    justify-content: space-evenly;
}
.listcolumn{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: start;
    margin-top: -5px;
}
#mail{
    padding-top: 50px;
}
.footer-list{
    list-style-position: inside;
    list-style-type: circle;
    display: inline;
    margin-right: 10px;
}
#unorderlistfoot{
    list-style: none;
    display: inline-block;
}